name: Publish wiki

on:
  push:
    branches:
      - development

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: Decathlon/wiki-page-creator-action@v2.0.0
        env:
          GH_PAT: ${{ secrets.ACTION_TOKEN }}
          ACTION_MAIL: prabesh1995nepalktm@gmail.com
          ACTION_NAME: prabeshpd
          OWNER: prabeshpd
          REPO_NAME: energy_client
          MD_FOLDER: .github/wiki
          WIKI_PUSH_MESSAGE: Push from Github action
